<div class="brand-section" >
    <nav class="brand-navbar">
        <div class="brand-navbar-start">
            <p class="txt-logo">Firewith</p>
        </div>
        <div class="brand-navbar-end">
            <a class="txt-section">Teams<div class="underline"></div></a>

            <a class="txt-section">Portofolio<div class="underline"></div></a>

            <a class="txt-section">Service<div class="underline"></div></a>

            <a class="txt-section">Contacts<div class="underline"></div></a>
        </div>

    </nav>
    <div class="mobile-navbar">
        <a class="txt-section">Teams<div class="underline"></div></a>
        <a class="txt-section">Portofolio<div class="underline"></div></a>
        <a class="txt-section">Service<div class="underline"></div></a>
        <a class="txt-section">Contacts<div class="underline"></div></a>
    </div>
    <div class="branding-box-center">
        <p class="txt-build">Build with Firewith</p>
        <p href="" class="txt-quote" data-period="100"
            data-type='[ "Having strong foundation is essentials part of Great Product", "When the product is right, you don’t have to be a great Marketer."]'>

        </p>
    </div>
    <div class="brand-overlay">
    </div>
</div>


