.slider-button {
    display: flex;
    width: 100%;
    justify-content: space-around;

    .group-text {
        margin-top: 10%;
        text-align: center;
    }
    .slider {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-top: 3%;
        animation: fadein 2s;
        .group-img {
            width: 25%;
            display: flex;
            flex-direction: column;
            .img {
                width: 250px;
                height: 250px;
                border-radius: 50%;
                background-color: gray;
                align-self: center;
                object-fit: cover;
            }
        }
    }
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-webkit-keyframes slide {
    100% {
        left: 0;
    }
}

@keyframes slide {
    100% {
        left: 0;
    }
}

.box-button {
    width: 5%;
    display: flex;

    .arrow-button {
        background: transparent;
        border: transparent;
    }

    .arrow-img {
        width: 32px;
    }
}

button:active {
    outline: 0;
    border: transparent;
}

button:focus {
    outline: 0;
    border: transparent;
}

.firewith-team {
    width: 90%;
    margin-right: 5%;
    margin-left: 5%;
    margin-bottom: 5%;
    padding-top: 3%;

    .txt-title {
        font-family: poppins-med;
        font-style: normal;
        font-weight: 500;
        font-size: 28px;
        text-align: left;
        letter-spacing: 0.09;
    }
    .txt-description {
        font-family: poppins-light;
        font-weight: 500;
        font-size: 16px;
    }
}

@media only screen and (max-width: 1440px) {
    .slider-button {
        .slider {
            .group-img {
                .img {
                    width: 200px;
                    height: 200px;
                }
            }
        }

        .group-text {
            margin-top: 10%;
            text-align: center;
        }
    }
}

@media only screen and (max-width: 600px) {
    .slider-button {
        .slider {
            .group-img {
                .img {
                    width: 65px;
                    height: 65px;
                }
            }

            .group-text {
                margin-top: 15%;
            }
        }

        .txt-name {
            font-size: 12px;
            white-space: nowrap;
            font-family: poppins-semibold;
        }

        .txt-job {
            font-size: 10px;
            white-space: nowrap;
            white-space: poppins-light;
        }
    }

    .box-button {
        display: none;
    }
}
