<div class="firewith-contact">
    <h1 class="txt-title">Contact Firewith</h1>
    <p class="txt-description">Whatever the project is you want us to work on. Please reach out to us! We would love to talk to you and learn more about how we can help you.</p>

    <div class="form-contact">
        <label class="txt-label">Masukkan Nama Anda</label>
        <input class="form-control" placeholder="cth: Nadiem Makarim">

        <label class="txt-label">Masukkan Email Anda</label>
        <input class="form-control" placeholder="cth: anderies@firewith.com">

        <label class="txt-label">Masukkan Nomor Handphone Anda</label>
        <input class="form-control" placeholder="cth: 087773662765">

        <label class="txt-label">Deskripsikan Problem Anda</label>
        <textarea class="form-control" placeholder="Tuliskan Keinginan Anda"></textarea>

        <button class="mat-raised-button">Kirim</button>
    </div>
</div>
