<div class="firewith-service">
    <h1 class="txt-title">Firewith Service & Packages</h1>
    <p class="txt-description">Our hand-made service will make your product outstanding and <br class="isDesktop"> able
        to compete with these
        days and future
        industry </p>

    <div>
        <div class="box-packages">
            <div class="box-one ml-55 bg-service-1">
                <div class="lining-text">
                    <div>
                        <h1>Normal Packages</h1>
                    </div>

                    <h3 class="first-h3"> - Build web with premium and robust code</h3>
                    <h3>- Interactive web design with animation</h3>
                    <h3>- Connect Social Media Feature</h3>
                    <h3>- Blog / Article Feature</h3>
                    <h3>- Responsive Web Design (Mobile / Desktop)</h3>
                    <h3>- Normal Search Engine Optimization</h3>
                    <h3>- Powered by Hostinger</h3>

                    <div class="box-button">
                        <button class="btn btn-outline-dark">Learn More</button>
                    </div>
                </div>
            </div>

            <div class="box-one bg-service-2">
                <div class="lining-text">
                    <div>
                        <h1>Premium Packages</h1>
                    </div>

                    <h3 class="first-h3">- Build Progressive Web app</h3>
                    <h3>- All Normal Packages Features</h3>
                    <h3>- Loading less web</h3>
                    <h3>- Mobile Version Design</h3>
                    <h3>- Brainstroming with our UI/UX</h3>
                    <h3>- Interactive Web Design</h3>
                    <h3>- Custom Features</h3>
                    <h3>- Powered by AWS , Google Server</h3>


                    <div class="box-button">
                        <button class="btn btn-outline-dark">Learn More</button>
                    </div>
                </div>
            </div>

            <div class="box-one bg-service-3">
                <div class="lining-text">
                    <div>
                        <h1>Custom Packages</h1>
                    </div>


                    <div class="box-button">
                        <button class="btn btn-outline-dark">Learn More</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>